<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ ./index.php?site=$1
</IfModule>

<Files /database.sqlite3>
    Order Allow,Deny
    Deny from all
</Files>